// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-family: 'Maven Pro', Helvetica Neue, Arial, sans-serif;;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin: 0;
  height: 100%;
  background-image: url('yarn.jpg');
  background-position: center center;
  background-size: cover;
}
.main {
  padding: 10px;
}
h1, h3 a {
  color: #FFFFFF;
}
a {
  text-decoration: none;
  color: #444444;
  &:hover {
    border-bottom: 1px solid;
  }
}
.spinzilla__rules {
  width: 80%;
  background-color: rgba(238, 238, 238, 0.8);
  padding: 20px;
  margin: 20px auto;
}
.header {
  background-color: rgba(238, 238, 238, 0.8);
  padding-left: 10px;
}
.home__link img {
  width: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
  padding-right: 5px;
}
.home__link:hover {
  border-bottom: none;
}
.login__signup {
  background-color: rgba(238, 238, 238, 0.8);
  margin: 10px 50px;
  width: 30%;
  padding: 20px;
  font-size: 1.2rem;
  list-style-type: none;
}
.form__input input {
  width: 80%;
  line-height: 1.5rem;
  font-size: 1.2rem;
  margin: 5px 0 10px 0;
}
