.table {
  display: table;
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.table__row {
  display: table-row;
}
.table__cell, .table__head {
  display: table-cell;
  padding: 1em;
  border: #f0f0f0 1px solid;
}
.table__cell input {
  line-height: 1.5rem;
  font-size: 1rem;
}
.table__head {
    font-weight: bold;
    background-color: rgba(238, 238, 238, 0.7);
    border-bottom: 1px #808080 solid;
}
.table__row:nth-child(odd) {
  background-color: rgba(238, 238, 238, 0.7);
}
.table__40 {
  width: 40%;
}
.table__20 {
  width: 20%;
}
.table__10 {
  width: 10%;
}
.table__cell #yarn_name {
  width: 90%;
}
.total {
  text-align: right;
}
.submit__link {
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid transparent;
  font-size: 1em;
  color: #444444;
  padding: 0 0 1px 0;
}
.submit__link:hover {
  border-bottom: 1px solid;
}
.errors {
  background-color: rgba(238, 238, 238, 0.8);
  margin: 10px auto;
  width: 80%;
  padding: 20px;
  color: #FF0066;
}
.no__yarns {
  background-color: rgba(238, 238, 238, 0.8);
  margin: 10px auto;
  width: 80%;
  padding: 20px;
}
