<footer class="footer__container">
Created by <a href="https://jasimper.github.io" target="_blank">Jamie Simper</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;  <a href="mailto:fromraintohope@gmail.com?Subject=Yardage%20Credit%20Tracker">
Email</a>  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="http://www.ravelry.com/people/fromraintohope" target="_blank">Ravelry</a>
</footer>
